/bin
/obj
adminModule/obj
adminModule/bin

dataPointsModule/bin
dataPointsModule/obj

domain/bin
domain/obj

infrastructure/bin
infrastructure/obj

jobcoreModule/bin
jobcoreModule/obj

otherSystemModule/bin
otherSystemModule/obj

quartzModeule/bin
quartzModeule/obj

webApi/bin
webApi/obj

.vs